page-learnmore {

}

.font{
    background-image: url('../assets/imgs/merce1.jpg');
    font-style: italic;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;

}

.img{
    background-image: url('../assets/imgs/college.jpg');
    font-style: italic;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
}

.img2{
    background-image: url('../assets/imgs/enggColg.png');
    font-style: italic;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
}
